<!DOCTYPE html>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Noticias</mat-panel-title>

            <mat-panel-description>
                <mat-icon>play_for_work</mat-icon>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <div id="bestDcarruselNoticias">

            <app-best-d-noticias-item></app-best-d-noticias-item>
            <app-best-d-noticias-item></app-best-d-noticias-item>
            <app-best-d-noticias-item></app-best-d-noticias-item>
            <app-best-d-noticias-item></app-best-d-noticias-item>
        </div>


    </mat-expansion-panel>

</mat-accordion>