<!DOCTYPE html>
<mat-sidenav-container class="mat-container">
  <mat-sidenav #sideNavbar class="mat-sidenavLeft" mode="over">
    <p>Sidenav IZQ</p>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button id="openMenu" class="btn btn-danger" (click)="sideNavbar.toggle()"> Open </button>

        <h2>HOLIIIIIIIIIII :)</h2>

        <span class="toolbarMiddleSpace"></span>

        <button id="openSidebar" class="btn btn-danger" (click)="drawerRight.toggle()"> User </button>

      </mat-toolbar-row>

      <mat-toolbar-row>
        <h2>{{title}}</h2>

      </mat-toolbar-row>

    </mat-toolbar>

    <app-dashboard></app-dashboard>




  </mat-sidenav-content>

  <mat-sidenav #drawerRight class="mat-sidenavRight" position="end" mode="push">
    <p>Drawer DER</p>

  </mat-sidenav>


</mat-sidenav-container>